.month-label {
  display: inline-flex;
  align-items: center;
}

.icon-calendar {
  display: inline-block;
  object-fit: contain;
  width: 16px;
}

.icon-arrow {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 4px;
}