.attendance-show-page {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EFF2;
}

.attendance-show-page__container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.attendance-show-page__heading {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: inline-block;
  line-height: 1.2;
}

.content__heading::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: calc(1em + 8px);
  background-color: #000;
}

.attendance-show-page .flash-message--success {
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.attendance-index-page__heading-text {
  margin-left: 32px;
}

.attendance-show-page__detail-section {
  background-color: #FFFFFF;
}

.attendance-show-page__table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.attendance-show-page__table-row {
  border-bottom: 2px solid #E1E1E1;
}

.attendance-show-page__table-head {
  width: 40%;
  height: 90px;
  display: flex;
  align-items: center;
  margin-left: 48px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: #737373;
}

.attendance-show-page__table-cell {
  width: 60%;
  height: 90px;
  text-align: left;
}

.attendance-show-page__time-input {
  width: 103px;
  height: 28px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  text-align: center;
  line-height: 28px;
  padding-left: 8px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
}

.attendance-show-page__separator {
  width: 16px;
  height: 19px;
  display: inline-block;
  margin: 0 36px;
}

.attendance-show-page__textarea {
  width: 316px;
  height: 72px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 8px;
  margin: 16px 0;
  resize: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #000000;
}

.attendance-show-page__button {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.attendance-show-page__submit-button {
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.15em;
  border-radius: 5px;
}

.attendance-show-page__submit-button:hover {
  background-color: #1a1a1a;
  opacity: 0.95;
}

.attendance-show-page__submit-button:active {
  background-color: #000000;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
  opacity: 0.85;
}